body {
  display: flex;
  
  box-sizing: border-box;
}

.container {
  width: 90vw;
  height: 100vh;

  margin: auto;
  background: rgb(214, 200, 200);
}

.header {
  margin: 20px auto;

  text-align: center;
}

.content {
  margin: auto;
  columns: 3;
  column-width: 30%;
}

.item {
  width: 20vw;
  height: 20vw;
  break-inside: avoid;
}

.img {
  height: 100%;
  width: auto;
}