body {
  display: flex;

  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 90vw;
  height: 100vh;

  margin: auto;

  background: rgb(245 245 245);
}

.header {
  margin: 20px auto;

  text-align: center;
}

.content {
  margin: auto;

  columns: 3;
  column-width: 30%;
}

.item {
  display: block;
  width: 20vw;
  height: 20vw;
  margin: auto;

  break-inside: avoid;

  border-radius: 10px;
}

.icon-img {
  width: 50px;
  height: 100%;
  margin: 5px auto;
}

.img {
  width: auto;
  height: 100%;
}

.item-name {
  position: relative;
  top: -10px;

  width: 80%;
  margin: auto;

  color: rgb(255 255 255);

  background-color: rgb(0 0 0 / 0.75);

  border-radius: 2px;
}

.item-name-label {
  margin: auto;

  text-align: center;
}
